@page "/"

<PageTitle>PinguApps.Blazor.QRCode</PageTitle>

<div class="card p-3">
    <p>
        150px, Hooked up to change button (will change the data to a new Guid each time)
    </p>
    <button @onclick="ChangeData" class="mb-4 align-self-start">
        Change!
    </button>
    <QRCode Data="@Data" Size="150px"  />
</div>

<div class="card p-3">
    <p>
        250px, red and aqua, 4 padding cells
    </p>
    <QRCode Data="This is a QR code of size 250px, using colours red and aqua and 4 padding cells!" Size="250px" ForeColor="red" BackColor="aqua" PaddingCells="4" />
</div>

<div class="card p-3">
    <p>
        250px, lots of encoded data
    </p>
    <QRCode Data="This is a 250px QR code, which has a lot of data. There really is much more here than the examples above, and so there is more data packed into a smaller area. This library was made by Pingu, by the way. Isn't this such an awesome library? It even works with the new .net 8 Blazor project type and works with static SSR! You only miss out on it updating to changed parameters in that mode, but that is to be expected as it is non-interactive!" Size="250px" />
</div>

@code {
    string Data { get; set; } = "This is a QR code of size 150px by 150px";

    void ChangeData()
    {
        Data = Guid.NewGuid().ToString();
    }
}