@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h3 class="mt-2">
                .Net 6.0 WASM
            </h3>
        </div>
        <div class="badge-row">
            <a href="https://www.nuget.org/packages/PinguApps.Blazor.QRCode" target="_blank">
                <img src="https://img.shields.io/nuget/v/PinguApps.Blazor.QRCode?logo=nuget&style=for-the-badge" />
            </a>
            <a href="https://www.nuget.org/packages/PinguApps.Blazor.QRCode" target="_blank">
                <img src="https://img.shields.io/nuget/dt/PinguApps.Blazor.QRCode?style=for-the-badge&logo=nuget" />
            </a>
            <a>
                <img src="https://img.shields.io/badge/License-MIT-44cc11?style=for-the-badge" />
            </a>
            <a href="https://github.com/PinguApps/Blazor.QRCode" target="_blank">
                <img src="https://img.shields.io/github/stars/PinguApps/Blazor.QRCode?style=for-the-badge&logo=github" />
            </a>
            <a href="https://github.com/PinguApps/Blazor.QRCode" target="_blank">
                <img src="https://img.shields.io/github/actions/workflow/status/PinguApps/Blazor.QRCode/demo-site.yaml?style=for-the-badge&logo=github" />
            </a>

            <a href="https://github.com/PinguApps/Blazor.QRCode" target="_blank">
                <img src="https://img.shields.io/badge/Github-555?style=for-the-badge&logo=github" />
            </a>
            <a href="https://www.nuget.org/packages/PinguApps.Blazor.QRCode" target="_blank">
                <img src="https://img.shields.io/badge/Nuget-555?style=for-the-badge&logo=nuget" />
            </a>
            <hr />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
