name: Build & Test PR

on:
  pull_request:
    branches: [ main ]

env:
  PROJECT_NAME: PinguApps.Blazor.QRCode
  DOTNET_VERSION: '9.0'
    
jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Setup DotNet
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Restore Packages
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release --no-restore src/$PROJECT_NAME/$PROJECT_NAME.csproj

    - name: Test
      run: dotnet test -c Release --no-restore --verbosity normal tests/$PROJECT_NAME.Tests/